body{
  background-color: #ffffff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: space-between;
  font-size: calc(10px + 2vmin);
  width: 100%;
  color: rgb(0, 0, 0);
}

.title{
  display: flex;
  flex-direction: row;
  
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.navi{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.content{
  padding: 1%;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}


